/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 jul. 2021, 14:00:23
    Author     : Daniel Marroquin
*/

.button{
    -fx-text-fill: #ff5e02;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 14.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}