/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 ago. 2021, 18:20:06
    Author     : Daniel Marroquin
*/


.button{
    -fx-text-fill: #38B6FF;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 20.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}